.main-form {
  background-color: rgb(6, 221, 228);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .main-wrapper {
    background-color: white;
    padding: 20px 60px;
    border: 2px solid #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .header {
      color: #333;
      font-weight: bold;
      font-size: 30px;
    }
    .title {
      color: #333;
      font-size: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        border: none;
        border-bottom: 1px solid #333;
        padding: 15px;
        font-size: 13px;
        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }
      button {
        background-color: rgb(6, 221, 228);
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        padding: 10px;
        font-size: 15px;
      }
      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #333;
        font-size: 12px;
        cursor: pointer;
        img {
          width: 32px;
        }
      }
    }
    p {
      color: #5d5b8d;
      margin-top: 10px;
      font-size: 12px;
    }
  }
}

.home {
  background-color: rgb(6, 221, 228);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 85%;
    display: flex;
    overflow: hidden;

    .sidebar {
      flex: 1;
      background-color: #333;
    }
    .chat {
      flex: 2;
    }
  }
}
